<div class="container text-center">
  <h3><%=params[:question]%></h3>
  <p>-->You asked</p>
  <h3><%=@answer%></h3>
  <p>-->Your coach said</p>
  <h3 class="btn btn-info"><%= link_to "Another question?", ask_path %><h3>
</div>

