<form action="/answer" class="form-group text-center">
  <label for="question" class="text-success">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="what time is it?" class="form-inline input-lg">
  <input type="submit" value="Go on!" class="btn-lg btn-primary-lg">
</form>
